.actions-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
  margin-top: 20px;

}

.mat-mdc-cell {
  padding: 16px;
}

.mat-mdc-header-cell {
  padding: 16px;
  font-weight: bold;
}